*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url('/public/images/pattern-bg-desktop.png') no-repeat;
    background-size: 100vw 280px;
    font-family: 'Rubik',sans-serif;
}
h1{
    // border: 2px solid red;
    margin: 5vh auto 0;
    width: fit-content;
    color: white;
    font-weight: 500;
}