@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 100 900;
}
.bold {
  font-weight: 600;
}

.c-white {
  color: hsl(0, 0%, 100%);
}

.label-s {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 2.1rem;
  color: hsl(215, 17%, 44%);
}

.input-font {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.12rem;
  color: hsl(215, 31%, 21%);
}

.label-l {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  line-height: 2.4rem;
  color: hsl(215, 31%, 21%);
}

p {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2.4rem;
  color: hsl(215, 17%, 44%);
}

.p-s {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 2.1rem;
  color: hsl(0, 0%, 100%);
}

h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.28rem;
  letter-spacing: -0.24rem;
  color: hsl(215, 31%, 21%);
}
@media (min-width: 1024px) {
  h1 {
    font-size: 6.2rem;
    line-height: 7.04rem;
    letter-spacing: -0.32rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.52rem;
  letter-spacing: -0.16rem;
  color: hsl(215, 31%, 21%);
}
@media (min-width: 1024px) {
  h2 {
    font-size: 4.8rem;
    line-height: 5.28rem;
    letter-spacing: -0.24rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.12rem;
  color: hsl(215, 31%, 21%);
}
