//font colors
$clr: (
    "primary": hsla(0, 0%, 100%, 1),
    "accent-500": hsla(227, 92%, 58%, 1),
    "accent-500-op": #E1E7FE,
    "neutral-800": hsla(200, 24%, 88%, 1),
    "neutral-400": hsla(215, 17%, 44%, 1),
    "neutral-200": hsla(215, 31%, 21%, 1),
    "background-gradient-600": linear-gradient(290deg, rgba(214, 230, 254, 1) 0%, rgba(214, 252, 254, 0.00) 100%),
    "background-gradient-900": linear-gradient(290deg, rgba(214, 230, 254, 0.30) 0%, rgba(214, 252, 254, 0) 100%),
    "shadow-500": rgba(143, 174, 207, 0.25)
);
//font sizes
$fs: (
    "fs-s": 1.4rem,
    "fs-m": 1.6rem,
    "fs-ml": 2rem,
    "fs-l": 2.4rem,
    "fs-xl": 3.2rem,
    "fs-xxl": 4.8rem,
    "fs-xxxl": 6.2rem
);

//Screen break points//
$brakepoint-desktop: 1024px;
$suggestion-section-brakepoint-tablet : 700px;
$brakepoint-tablet: 600px;

//font weights
$fw-regular: 400;
$fw-bold: 600;

$ff-primary: Inter, sans-serif;