@mixin smaller-viewports() {
    @media screen and (max-width:1160px) {
        @content
    }
}

@mixin mobile() {
    @media screen and (max-width:890px) {
        @content
    }
}

.details {
    // border: 2px solid hotpink;
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 1.25em 0;
    border-radius: 15px;

    @include mobile() {
        flex-direction: column;
        align-items: center;
        // height: 325px;
    }
}

.detail {
    // border: 2px solid red;
    border-right: 1px solid hsl(0, 0%, 59%);
    color: hsl(0, 0%, 17%);
    font-size: 2rem;
    font-weight: 500;
    padding: 0 1em;

    &:last-child {
        border: none;

        @include mobile() {
            margin-bottom: 0;
        }
    }

    @include smaller-viewports() {
        text-align: center;
        font-size: 1.5rem;
    }

    @include mobile() {
        border-right: none;
        margin-bottom: 1em;

    }

    span {
        // border: 2px solid red;
        display: block;

        @include mobile() {
            display: inline;
        }
    }
}

.heading {
    // border: 2px solid red;
    font-size: 1rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;

    @include smaller-viewports() {
        font-size: 0.75rem;
    }

    @include mobile() {
        font-weight: 700;
        text-align: center;
        padding-bottom: 0.5em;

    }
}